input{
  margin:10px;
}



.youtube-preview{
  width:100%;
  display: inline-block;
  vertical-align: top;
}
.thumbnail-picture{
  width:100%;
}
.thumbnail-info{
  display: inline-block;
}

.channel-info{
  display: inline-block;
  width:70px;
  vertical-align: top;
}
.channel-picture{
  width:90%;
  border-radius:50%;
}
.info{
 display: inline-block;
}
.lower-grid{
  display: grid;
  grid-template-columns: 20% 1fr;
}

.lower-grid{
  margin-top:10px;
}
.title, .author, .video-stats{
  font-family:Arial;
  margin:0;
}
.title{
  font-size:18px;
  font-weight:bold;
}
.author{
  margin-top:10px;
  color:rgb(151, 151, 151);
  font-size:16px;
}
.video-stats{
  margin-top:10px;
  font-size:16px;
}
.main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap:15px;
  row-gap:15px;
  margin:10px;
}

.header{
  background-color:grey;
  margin:0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body{
  margin:0;
}